
<h1> {{ title }} </h1>

<div>
    <p>Bonjour, aujourd'hui, le temps à Paris  est : <span>{{ parisWeather }}</span></p>
    <img src='{{ weatherIcon }}' />
</div>
<p>Voiture la plus ancienne : <span>{{ oldest }}</span> | Nombre de voiture : <span>{{ nbCars }}</span></p>

