@import 'themes';
@import 'fonts';
@import 'layouts';



:host {
  display: block;
  width: 100%;
  max-width: $max-w;

  h1 {
    color: $color4;
    font-size: $h1-fz;
    font-weight: $fw-m;
    text-transform: uppercase;
  }

  >div {
    display: flex;
    align-items: center;
  }

  p {
    color: $color4;
    font-size: 1.2em;
    span {
      font-weight: 500;
    }
  }
}

