
<header class="fixed-top">
    <ng-content select="app-header"></ng-content>
</header>

<aside>
    <ng-content select="app-nav"></ng-content>
</aside>

<main >

    <div class="page">
        <div class="contents">
        <ng-content select=".content"></ng-content>
        </div>
    </div>

</main>
  
<footer>
    <ng-content select="app-footer"></ng-content>
</footer>