@import "themes";
@import "layouts";


/// Description design of user interface

header {
  height: 165px;
  background: $light-color;
  box-sizing: border-box;
  padding: 0 $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

aside {
  position: fixed;
  top: 165px;
  z-index: 1000;
  width: 85.5px;
  overflow: hidden;
  transition: width .5s ease-in-out;
  left: calc((100vw - 1100px)/2 - 85.5px);
}

aside:hover {
  width: 439px;
}

main {
  background: darken($light-color, 5);
  min-height: calc(100vh - 230px);
  padding-top: 165px;
  display: flex;
  justify-content: center;
  >div {
    max-width: 1100px;
    width: 100%;
  }
}

.shadow {
  background: rgba($dark-color, .8);
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 230px);
}

.contents {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  height: 65px;
  background: $light-color;
  box-sizing: border-box;
  padding: 0 $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}