@import 'themes';
@import 'fonts';
@import 'layouts';



:host {
  display: block;
  width: 100%;
  max-width: $max-w;
}

p {
  color: $color4;
  font-size: 1.2em;
  span {
    font-weight: 500;
  }
}