
<form #fc="ngForm" (ngSubmit)="onSubmit()">
    <label for="nom">Nom</label>
    <input type="text" id="nom" ngModel name="nom"  formControlName="nom" />
  
    <label for="marque">Marque</label>
    <input type="text" id="marque" ngModel name="marque" formControlName="marque" />
  
    <label for="immatriculation">Immatriculation</label>
    <input type="text" id="immatriculation" ngModel name="immatriculation" formControlName="immatriculation" />
  
    <label for="date">Date Achat</label>
    <input type="text" id="date" ngModel name="date" formControlName="date" />
  
    <label for="couleur">Couleur</label>

    <select id="couleur" ngModel name="couleur" formControlName="couleur" >
      <option *ngFor="let c of colors" [ngValue]="c">
        {{ c }}
      </option>
    </select>
  
    <label for="state">Etat</label>
    <select id="state" ngModel name="state" formControlName="state">
      <option *ngFor="let s of states" [ngValue]="s">
        {{ s }}
      </option>
    </select>

    <button type="submit" [disabled]="form.invalid" >Ajouter</button>
  </form>
  