<app-content>
  
  <!-- <h2>{{ message$ | async }}</h2>

  <button (click)="spanishMessage()">Spanish</button>
  <button (click)="frenchMessage()">French</button> -->

  <app-header></app-header>
  <app-nav></app-nav>
  <app-footer></app-footer>
  <router-outlet class="content"></router-outlet>
</app-content>