@import 'themes';
@import 'fonts';
@import 'layouts';

.nav {
    display: flex;
    width: 439px;
    >li {
        background: $color3;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 15px 20px 12px;
        >a {
            text-decoration: none;
            text-decoration-color: $color3;
            transition: all .25s ease-in-out;
        }
        >a:hover {
            text-decoration: underline;
            text-decoration-color: $color2;
            text-decoration-thickness: 3px;
        }
        h3 {
            color: $light-color;
            text-align: center;
            font-size: $h3-fz;
            font-weight: $fw-m;
        }
    }
}