
<ul class="nav">
    <li>
        <h3>MENU</h3>
    </li>
    <li>
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <h3>Accueil</h3>
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/cars" routerLinkActive="active">
        <h3>Mes voitures</h3>
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/others" routerLinkActive="active">
        <h3>Une autre page</h3>
      </a>
    </li>
</ul>
  