@import "themes";
@import "fonts";

:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% { transform: rotate(0);}
    100% { transform: rotate(360deg);}
}

.animation {
    width: 300px;
    height: 300px;
    position: relative;
    >div, .roue, .cran, .cran>div, .pneu, .text, .text>div, .jante, .rayon, .rayon>div, .boulon, .boulon>div, .rond {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .cran, .text, .rayon, .boulon {
        animation: rotate 20s infinite linear;
    }

    .cran {
        @for $i from 1 through 72 {
            >div:nth-child(#{$i}) {
                transform: rotate(#{0+5*$i}deg);
            }
        }
        >div {
            display: flex;
            justify-content: center;
            >div {
                width: 7px;
                height: 5px;
                border-radius: 20%;
                background-color: $color2;
            }
        }
    }

    .pneu {
        display: flex;
        justify-content: center;
        align-items: center;
        >div {
            width: 296px;
            height: 296px;
            border: 2px solid $color2;
            border-radius: 50%;
            background-color: $color2;
            box-sizing: border-box;
        }
    }

    .text>div {
        text-align: center;
        box-sizing: border-box;
        padding-top: 20px;
        font-weight: 500;
        font-size: 25px;
        color: $color4;
    }
    @for $i from 1 through 9 {
        .text>div:nth-child(#{$i}) {
            transform: rotate(#{0+8*$i}deg);
        }
    }
    @for $i from 1 through 9 {
        .text>div:nth-child(#{9+$i}) {
            transform: rotate(#{185+8*$i}deg);
        }
    }
      
    .jante {
        display: flex;
        justify-content: center;
        align-items: center;
        >div {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: $color3;
            box-sizing: border-box;
        }
    }

    .rayon {
        @for $i from 1 through 10 {
            >div:nth-child(#{$i}) {
                transform: rotate(#{0+36*$i}deg);
            }
        }
        >div {
            display: flex;
            justify-content: center;
            >div {
                width: 5px;
                height: 50px;
                border-radius: 10%;
                background-color: $color4;
                margin-top: 62px;
            }
        }
    }

    .boulon {
        @for $i from 1 through 5 {
            >div:nth-child(#{$i}) {
                transform: rotate(#{0+72.2*$i}deg);
            }
        }
        >div {
            display: flex;
            justify-content: center;
            >div {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color2;
                margin-top: 120px;
            }
        }
    }

    .rond {
        display: flex;
        justify-content: center;
        align-items: center;
        >div {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $color4;
        }
    }
}