
<h2>Votre Collection</h2>

<div *ngFor="let c of allCars">
    <p>{{ c.nom }} - {{ c.marque }} - {{ c.immatriculation }} - {{ c.date }} - {{ c.color }} - {{ c.state }} </p> <button (click)="delete(c)">suppr</button>
</div>

<h2>Ajouter une voiture</h2>

<form #fc="ngForm" (submit)="addCar(fc)">
  <label for="nom">Nom</label>
  <input type="text" id="nom" ngModel name="nom" required />
  <div *ngIf="nomCtrl.dirty && nomCtrl.hasError('required')">nom requis</div>

  <label for="marque">Marque</label>
  <input type="text" id="marque" ngModel name="marque" required />

  <label for="immatriculation">Immatriculation</label>
  <input type="text" id="immatriculation" ngModel name="immatriculation" required minlength="7" maxlength="7" />

  <label for="date">Date Achat</label>
  <input type="text" id="date" ngModel name="date" />

  <label for="couleur">Couleur</label>
  <select id="couleur" ngModel name="couleur">
    <option *ngFor="let c of colors" [ngValue]="c">
      {{ c }}
    </option>
  </select>

  <label for="state">Etat</label>
  <select id="state" ngModel name="state">
    <option *ngFor="let s of states" [ngValue]="s">
      {{ s }}
    </option>
  </select>
  <button type="submit" [disabled]="fc.invalid">Ajouter</button>
</form>
